<section class="vh-100 default-background relative">
  <script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
  <div class="wrapper flex flex-column relative">
    <main class="w-100 mt6-ns mt4 flex justify-between items-center" aria-label="CIGI">
      <h1>
        Photo Gallery
      </h1>
      <div class="user-select-none ttu tracked f7 b fw4 grey-color tl fade-in-1 o-0">
        <div class="v-mid cover h2 w2 dib"
            style="background:url('{{ "/data/icons/grab.svg" | relative_url }}') no-repeat"></div>
            Grab & drag to view more photos
      </div>
    </main>
    <p>
      Lorem ipsum dolor sit amet
    </p>
  </div>
  <div class="w-80 m-auto">
    <div class="mt5 vh-50 gallery relative" id="gallery">
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/800/450?image=1011'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/600/850?image=11'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/850?image=1075'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=14'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=15'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=16'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=17'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=18'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=19'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=20'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=21'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=23'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=24'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=25'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=26'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=27'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=28'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=29'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=30'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=33'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/650?image=34'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/350?image=35'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/350?image=42'/></div>
      <div class="gallery-img-wrapper"><img alt="Lorem ipsum dolor sit amet" src='https://unsplash.it/900/350?image=46'/></div>
    </div>
  </div>
</section>