<header id="site-header" class="site-header wrapper w-100 z-8 flex justify-between items-center" role="banner">
  <a href="{{ "https://www.cigionline.org" }}" class="mv4-ns"><img id="cigi-logo" src="{{ "/assets/cigi-logo.svg" | relative_url }}" alt="CIGI Logo" class="w-5rem-10vh dn db-ns"></a>
  <div class="flex mt3 mt0-ns">
      <div id="main-tabs" class="tabs mr3">
          <div id="explore-cigi-link" class="tab">Explore CIGI</div>
          <div id="view-ar-link" class="tab">Annual Report</div>
      </div>
    <div class="f4"><a class="no-underline" id="global-share-facebook" target="_blank"><i class="fa fa-facebook"></i></a></div>
    <div class="f4 pl1 ml3"><a class="no-underline" id="global-share-twitter" target="_blank"><i class="fa fa-twitter"></i></a></div>
    <div id="table-of-contents-button" class="pt1 pl1 ml3 pointer"></div>
  </div>
</header>
