<header class="site-header wrapper w-100 fixed-x-centre z-8 flex justify-between items-center" role="banner">
  <a href="{{ "/" | relative_url }}" class="mv4"><img id="cigi-logo" src="{{ "/assets/CIGI-logo-3x.png" | relative_url }}" alt="CIGI Logo" class="w-3rem-10vh"></a>
  <div class="flex mt4 mt0-ns">
    <div class="f4"><a class="no-underline black" id="global-share-facebook" target="_blank"><i class="fa fa-facebook"></i></a></div>
    <div class="f4 pl1 ml3"><a class="no-underline black" id="global-share-twitter" target="_blank"><i class="fa fa-twitter"></i></a></div>
    <div id="table-of-contents-button" class="pt1 pl1 ml3 pointer black"></div>
  </div>
</header>
