<section class="vh-100 default-background landing slide-1">
  <div class="wrapper h-100">
      <div class="circle"></div>
      <div class="arc"></div>
    <div class="content-wrapper">

        {% markdown template_content/home.md %}
        <div class="content col">
            <div class="title">CIGI<br><span>2017</span></div>
            <div class="intro">Opening with the sensational arrest of IMF Managing Director Dominique Strauss-Kahn, the book reveals that this sordid episode was only one in a series of setbacks for the IMF as financial conflagration spread from Greece to Ireland, Portugal, Spain, Italy and Cyprus — threatening to engulf a region comprising nearly one-fifth of world economic output.</div>
            <div class="nav">
                <div class="explore">
                    <div class="up pointer">
                        <i class="fa fa-angle-up arrow-3" aria-hidden="true"></i>
                        <i class="fa fa-angle-up arrow-2" aria-hidden="true"></i>
                        <i class="fa fa-angle-up arrow-1" aria-hidden="true"></i>
                    </div>
                    <div id="explore-cigi-link" class="no-underline link pointer">Explore CIGI</div>
                </div>
                <div class="view-ar">
                    <div id="view-ar-link" class="no-underline link pointer">View Annual Report</div>
                    <div class="down pointer">
                        <i class="fa fa-angle-down arrow-1" aria-hidden="true"></i>
                        <i class="fa fa-angle-down arrow-2" aria-hidden="true"></i>
                        <i class="fa fa-angle-down arrow-3" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</section>
