<section class="vh-100-ns standard-slide slide-14">
  <div class="wrapper h-100 flex items-end">
    <div class="slide-content pb4-ns pr6-ns pb6-ns z-1 flex flex-column">
      {% markdown template_content/slide14-imf.md %}
      <div class="lightbox-link">
          <div class="youtube-lightbox pointer" data-videoid="ZGGdBEwtCaM"><i class="fa fa-play" aria-hidden="true"></i>Watch historian and Senior Fellow Harold James explain how crisis has shaped the IMF.</div>

    </div>
    </div>
  </div>
</section>