<section class="vh-100-ns standard-slide slide-12">
  <div class="background-img"></div>

  <div class="wrapper h-100 flex items-end">
    <div class="slide-content pb4-ns pr6-ns pb6-ns z-1 flex flex-column">
        <h3>Expertise</h3>
        <h1>Intellectual Property Experts on the Knowledge Economy</h1>
        <div class="mobile-img"><img src="assets/slides/Slide-Still-Innovation_Knowledge.jpg" alt="geometric line art"></div>
        <p>In collaboration with the Ontario Ministry of Research, Innovation and Science, CIGI organized a series of round tables on innovation and intellectual property (IP) strategy with policy makers, academics and representatives of Canada’s business community that helped establish CIGI as a nationwide resource for policy advice on IP innovation.</p>
        <p>CIGI’s legal experts have also been working to support new entrepreneurs and innovators with early access to IP legal support. In February 2017, CIGI announced a new partnership with York University to expand the IP Osgoode Innovation Clinic. The clinic provides pro bono basic legal services in IP law and business-related issues, with students working and learning alongside lawyers to assist early entrepreneurs who cannot afford to pay the costs.</p>
        
        <p>Bassem Awad, deputy director, intellectual property law and innovation, sees the venture as a potential model for raising IP awareness and delivering legal advice that could be applied in other countries.</p>
      
      <div class="lightbox-link">
          <div class="youtube-lightbox pointer" data-videoid="GpnjBR8y8WE"><i class="fa fa-play" aria-hidden="true"></i>Watch Senior Fellow E. Richard Gold address the “myth” of intellectual property.
          </div>
      </div>
    </div>
  </div>
  <video loop muted class="fullscreen-bg-video">
    <source src="{{ "/data/IP-Loop_2-4mbps.mp4" | relative_url }}" type="video/mp4">
  </video>
</section>