<table class="balance-sheet">
<thead>
    <tr class="year">
        <td>2017</td>
        <td>2017</td>
    </tr>   
    <tr class="title">
        <td>Summarized Balance Sheet as at July 31, 2016</td>
        <td>Total</td>
    </tr>                        
</thead>
<tbody>
    <tr class="section">
        <td>Current Assets</td>
        <td></td>
    </tr>
    <tr>
        <td>Cash and Cash Equivalents</td>
        <td>$ 10,674,800</td>
    </tr>
    <tr>
        <td>Portfolio Investments</td>
        <td>140,570,564</td>
        </tr>
    <tr>
    <tr>
        <td>Accounts Receivable</td>
        <td>728,045</td>
        </tr>
    <tr>
    <tr>
        <td>Prepaid Expenses</td>
        <td>351,840</td>
        </tr>
    <tr>
    <tr>
        <td>Prepaid Expenses</td>
        <td>351,840</td>
    </tr>
    <tr class="total">
        <td></td>
        <td class="single">152,325,249</td>
    </tr>
    <tr class="section">
        <td>Other Assets</td>
        <td></td>
    </tr>
    <tr>
        <td>Capital Assets</td>
        <td>64,567,007</td>
    </tr>
    <tr>
        <td>Lease Inducement</td>
        <td>-</td>
    </tr>
    <tr class="total">
        <td></td>
        <td class="single">64,567,007</td>
    </tr>
    <tr class="section total">
        <td>Total Assets</td>
        <td class="double">216,892,256</td>
    </tr>
    <tr class="section">
        <td>Current Liabilities</td>
        <td></td>
    </tr>
    <tr>
        <td>Bank Indebtedness</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Accounts Payable and Deferred Revenue</td>
        <td>1,502,730</td>
    </tr>
    <tr>
        <td>Unrealized Loss on Forward Contracts</td>
        <td>994,337</td>
    </tr>
    <tr class="section total">
        <td>Total Liabilities</td>
        <td class="top double">2,497,067</td>
    </tr>
    <tr class="section">
        <td>Fund Balances</td>
        <td></td>
    </tr>
    <tr>
        <td>Invested in Capital Assets</td>
        <td>64,567,007</td>
    </tr>
    <tr>
        <td>Externally Restricted</td>
        <td>122,547,852</td>
    </tr>
    <tr>
        <td>Internally Restricted</td>
        <td>831,836</td>
    </tr>
    <tr>
        <td>Unrestricted</td>
        <td>26,448,494</td>
    </tr>
    <tr class="section total">
        <td>Total Fund Balances</td>
        <td class="single">214,395,189</td>
    </tr>
    <tr class="section total">
        <td>Total Liabilities and Fund Balances</td>
        <td>216,892,256</td>
    </tr>
</tbody>
</table>
