<section class="vh-100-ns standard-slide slide-15">
  <div class="wrapper h-100 flex items-end">
    <div class="slide-content pb4-ns pr6-ns pb6-ns z-1 flex flex-column">
      {% markdown template_content/slide15-t20.md %}
      <div class="view-article pb2 pt2">
        <a class="no-underline pointer underline-hover" href="https://www.cigionline.org/activity/cigi-and-think-20-t20?source=ar2017"><i class="fa fa-file-text-o" aria-hidden="true"></i>Read CIGI experts’ contributions to T20 policy briefs.</a>
      </div>
    </div>
  </div>
</section>
