<table class="balance-sheet table1">
<thead>
    <tr class="title">
        <td>Summarized Balance Sheet</td>
        <td>July 31, 2017 Total</td>
        <td>July 31, 2016 Total</td>
    </tr>                        
</thead>
<tbody>
    <tr class="section">
        <td>Current Assets</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Cash and Cash Equivalents</td>
        <td>$5,891,186</td>
        <td>$7,666,613</td>
    </tr>
    <tr>
        <td>Portfolio Investments</td>
        <td>123,966,744</td>
        <td>131,003,910</td>
        </tr>

    <tr>
        <td>Accounts Receivable</td>
        <td>1,230,454</td>
        <td>2,051,600</td>
        </tr>
    <tr>
    <tr>
        <td>Prepaid Expenses</td>
        <td>1,112,903</td>
        <td>458,129</td>
        </tr>
    <tr>
    <tr class="total">
        <td></td>
        <td class="single">$132,201,287</td>
        <td class="single">$141,397,067</td>
    </tr>
    <tr class="section">
        <td>Other Assets</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Capital Assets</td>
        <td>59,479,918</td>
        <td>61,831,500</td>
    </tr>
    <tr class="total">
        <td></td>
        <td class="single">191,681,205</td>
        <td class="single">203,011,752</td>
    </tr>
    <tr class="section total">
        <td>Total Assets</td>
        <td class="double">$191,681,205</td>
        <td class="double">$203,011,752</td>
    </tr>
    <tr class="section">
        <td>Current Liabilities</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Accounts Payable and Accrued Liabilities</td>
        <td>$1,160,906</td>
        <td>$1,693,622</td>
    </tr>
    <tr>
        <td>Deferred Revenue</td>
        <td>285,599</td>
        <td>375,622</td>
    </tr>
    <tr>
        <td>Unrealized Loss on Forward Contracts</td>
        <td>2,546</td>
        <td>164,579</td>
    </tr>
    <tr class="section total">
        <td>Total Liabilities</td>
        <td class="top single">$1,449,051</td>
        <td class="top single">$2,365,893</td>
    </tr>
    <tr class="section">
        <td>Fund Balances</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Invested in Capital Assets</td>
        <td>59,180,608</td>
        <td>61,614,685</td>
    </tr>
    <tr>
        <td>Externally Restricted</td>
        <td>107,825,622</td>
        <td>115,055,622</td>
    </tr>
    <tr>
        <td>Internally Restricted</td>
        <td>620,110</td>
        <td>836,035</td>
    </tr>
    <tr>
        <td>Unrestricted</td>
        <td>22,605,814</td>
        <td>23,139,517</td>
    </tr>
    <tr class="section total">
        <td>Total Fund Balances</td>
        <td class="single">$190,232,154</td>
        <td class="single">$200,645,859</td>
    </tr>
    <tr class="section total">
        <td>Total Liabilities and Fund Balances</td>
        <td class="double">$191,681,205</td>
        <td class="double">$203,011,752</td>
    </tr>
</tbody>
</table>
