<section class="vh-100-ns standard-slide joint-message slide-2" id="slide=2">
    <div class="background-img right-img" style="background-image: url('assets/slides/RM-headshot-smaller.jpg')"></div>
    <div class="wrapper h-100 flex">
        <div class="slide-content pb4-ns pb6-ns pr6-ns z-1">
            <div class="tabs mb3" data-slide="slide-2" id="messages-tabs">
                <div class="tab toggle" data-id="tab-1">President's Message</div>
                <div class="tab toggle" data-id="tab-2">Chair's Message</div>
            </div>
            <div class="tab-content">
                <div class="tab" data-id="tab-1">
                    <h3>Messages</h3>
                    <h1>President’s Message</h1>
                    
                    <div class="col">
                        
                        <p>Beginning in Bretton Woods in 1944, groups of powerful nations organized the economic and political arrangements that serve us, albeit imperfectly, to this day. But rapid developments in technologies are upending established structures in every part of the economy and society.</p>
                        
                        <p>Moreover, conversations defined by rising nationalism and populism on social media are daily challenging the institutions we follow closely. A stream of “fake news” contributes to rapidly growing distrust in established institutions while, in parallel, so-called legacy media is declining, particularly in North America and Europe.</p>
                        
                        <p>At the Global Think Tank Summit CIGI hosted in September 2016 with the Think Tanks and Civil Societies Program at the Lauder Institute of the University of Pennsylvania, these topics were at the fore of our conversations. I spoke to the need for think tanks to be nimble and to respond quickly with our knowledge in a fast-changing digital environment.</p>
                        
                        <p>And CIGI has responded quickly. We have fundamentally shifted the way we present and communicate our core competencies — research, expertise and analysis. CIGI’s new identity, launched with a redesigned website, demonstrates much about who we have become as an organization: an innovative global think tank that delivers influential research and trusted analysis.</p>
                        
                        <p>An example of this is CIGI’s New Thinking on Innovation series, a collection of timely essays published exclusively online in the spring of 2017. These essays breathed new life into discussions around strategies to drive innovation and prosperity that will continue to influence policy in Canada and elsewhere.</p>
                        
                        <p>In the series, corporate leaders, economists, and trade and international law experts brought perspective and specific policy recommendations for international trade agreements, patent systems and intellectual property strategies, and the role global institutions like the Group of Twenty (G20) can play in supporting innovation in smaller countries.</p>
                        
                        <p>The success stories featured in our first-ever digital annual report, itself an example of the innovation we are cultivating at CIGI, collectively tell a story that is the product of in-depth research, studied expertise and timely analysis: informed dialogue with decision makers and meaningful public discourse.</p>
                        
                        <p>Whether through participating in the G20 or other major fora, CIGI will continue to work through forward-looking, evidence-based deliberation to reach a new Bretton Woods moment for our times. We take seriously the “innovation” and “governance” in our name, which will help get us there.</p>
                        
                        <p class="signature"><strong>Rohinton P. Medhora</strong><br>
                            <em>President, CIGI</em></p>
                            
                        </div>
                        <div class="photo-caption no-mobile">Photo of Rohinton P. Medhora</div>
                    </div>
                    <div class="mobile-only"><hr></div>
                    <div class="tab" data-id="tab-2" data-name="chairs-message">
                        <h3>Messages</h3>
                        <h1 id="chairs-message">Chair’s Message</h1>
                        
                        <div class="col">
                            
                            <p> Our globalized economy has seen, in a very short amount of time, a fundamental shift away from the delivery of goods and services to international commerce based on ideas. Changing intellectual property (IP) regimes, new trade agreements and rapidly evolving technologies demand up-to-date responses from researchers and thought leaders.</p>
                            
                            <p>CIGI has responded with a new organizational approach to these issues. A redesigned website serves as a digital platform to combine research and expertise to deliver journalistic analysis. It is an approach that builds on CIGI’s already solid research programs to deliver trustworthy and timely content that stands out amidst a noisy field of information providers with little quality control.</p>
                            
                            <p>Already, CIGI has delivered a wealth of original research accompanied by timely and in-depth analysis, multimedia interviews and explanatory pieces. From the North American Free Trade Agreement (NAFTA) to innovation, this digital-first content demonstrates CIGI’s commitment to meeting the needs of today’s decision makers while reaching new audiences.</p>
                            
                            <p> In the policy arena, CIGI responded quickly to the announcement of NAFTA renegotiations, publishing a series of original pieces and interviews on NAFTA and the knowledge economy. CIGI experts simultaneously participated in discussions with Canadian government officials looking for a road map on trade, innovation and IP under a NAFTA 2.0.</p>
                            
                            <p>CIGI has also led conversations around a new approach to stimulating innovation, which is much needed to drive economic development and prosperity at a time when policies and incentives have not always kept up with our changing economy. The New Thinking on Innovation series kicked off the conversation, and CIGI has also looked to the main drivers of innovation — people and the societal contexts that foster their successful innovations.</p>
                            
                            <p>The innovation lens extends to global governance questions. CIGI’s World Refugee Council, led by former Canadian Minister of Foreign Affairs Lloyd Axworthy, brings together the best and brightest refugee experts, former presidents and prime ministers, civil society leaders, a Nobel Peace Prize laureate and others to bring bold thinking and innovative approaches to this global problem.</p>
                            
                            <p>Our many global and local partners can be proud of CIGI’s new approach this year. It would not have been possible without their support — especially from the Governments of Canada and Ontario, and the City of Waterloo — to help make CIGI a relevant, trusted and innovative Canadian think tank with a global perspective.</p>
                            
                            <p class="signature"><strong>Jim Balsillie</strong><br>
                                <em>Chair, CIGI Board of Directors</em></p>
                            
                            </div>
                            <div class="photo-caption no-mobile">Photo of Jim Balsillie</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>