<section class="vh-100-ns standard-slide slide-3">
  <div class="wrapper h-100 flex items-end">
    <div class="slide-content pb4-ns pr6-ns pb6-ns z-1 flex flex-column">
      {% markdown template_content/slide3-innovation.md %}
      <div class="view-article pb2 pt2">
          <a class="no-underline pointer underline-hover" href="https://www.cigionline.org/innovation-series?source=ar2017"><i class="fa fa-file-text-o" aria-hidden="true"></i>Read the New Thinking on Innovation essays.</a>
      </div>

      <div class="lightbox-link">
          <div class="youtube-lightbox pointer" data-videoid="s-QpV6AG-qg"><i class="fa fa-play" aria-hidden="true"></i>Watch CIGI President Rohinton P. Medhora introduce the New Thinking on Innovation series.</div>
      </div>

    </div>
  </div>
  <video loop muted class="fullscreen-bg-video">
    <source src='{{ "/data/AR_InnovationLoop_720p_2.mp4" | relative_url }}' type="video/mp4">
  </video>
</section>

