<section class="vh-100-ns standard-slide slide-11">
  <div class="background-img"></div>

  <div class="wrapper h-100 flex items-end">
    <div class="slide-content pb4-ns pr6-ns pb6-ns z-1 flex flex-column">
      
        <h3>Expertise</h3>
        <h1>Transforming the Global Refugee System</h1>
        <div class="mobile-img"><img src="assets/slides/Slide-Still-WRC.jpg" alt="Aerial view of refugee camp"></div>

        <div class="photo-caption">Aerial footage of a refugee camp</div>
        
        <p>Twenty-one million people are refugees and the number continues to rise. The international response has been uneven, prompting CIGI to convene thought leaders and innovators from around the globe to advance a new vision of global cooperation for refugee protection.</p>
        <p>The World Refugee Council is chaired by Lloyd Axworthy, former Canadian minister of foreign affairs, and co-chaired by Jakaya Kikwete, former president of Tanzania; Hina Jilani, an advocate of the Supreme Court of Pakistan; and Rita Süssmuth, immigration reform advocate and former president of the German Bundestag.
          </p>
        <p>Launched with the support of the Government of Canada and other institutions, the council was lauded by Canadian Minister of Foreign Affairs Chrystia Freeland and civil society groups when it was publicly announced in May 2017. The council’s bold mandate has also been met with passionate online interest, generating over 370,000 social media impressions and 10,000 engagements.</p>
        
      <div class="view-article pb2 pt2">
        <a class="no-underline pointer underline-hover" href="https://www.worldrefugeecouncil.org?source=ar2017"><i class="fa fa-file-text-o" aria-hidden="true"></i>Read more about the World Refugee Council.
        </a>
      </div>
      <div class="lightbox-link">
        <div class="youtube-lightbox pointer" data-videoid="7miQEf7ZGGs"><i class="fa fa-play" aria-hidden="true"></i>Watch Lloyd Axworthy introduce the World Refugee Council.
        </div>
      </div>
    </div>
  </div>
  <video loop muted class="fullscreen-bg-video">
    <source src='{{ "/data/WRC-Loop4-TimeRemap-2-4mbps_1.mp4" | relative_url }}' type="video/mp4">
  </video>
</section>