<section class="vh-100 standard-slide slide-18">
  <script src="https://platform.twitter.com/widgets.js"></script>
  <script src="https://www.youtube.com/player_api"></script>
  <div class="wrapper h-100 pt6">
    <h1>Testing</h1>
    <div class="twitter-lightbox pointer" data-tweetid="511181794914627584">Click here for tweet</div>
    <div class="youtube-lightbox pointer" data-videoid="M7lc1UVf-VE">Click here for youtube</div>
    <div class="soundcloud-lightbox pointer" data-url="https://soundcloud.com/dragonforceofficial/avant-la-temp-te-instrumental">Click here for soundcloud</div>
  </div>
</section>