<section class="vh-100 standard-slide slide-8">
  <div class="wrapper h-100">
    <div class="absolute bottom-0 pb4 pr4 pb6-ns w-80-l">
      {% markdown template_content/slide8-undrip.md %}
      <div class="view-article pb2 pt2">
        <a class="no-underline pointer underline-hover" href="https://www.cigionline.org/publications/undrip-implementation-braiding-international-domestic-and-indigenous-laws?source=ar2017" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true"></i>View Book</a>
      </div>
      <div class="lightbox-link">
          <a class="no-underline pointer underline-hover" href="https://www.cigionline.org/innovation-series?source=ar2017"><i class="fa fa-play" aria-hidden="true"></i>Watch Senior Fellow John Borrows explain why UNDRIP is a legal opportunity for Canada's constitution.</a>
      </div>
      <div class="photo-caption">
        <p><em>Natives Playing on the Land</em> by Lawrence Paul Yuxweluptun</p>
      </div>
    </div>
  </div>
</section>
