<section class="vh-100 standard-slide slide-11">
  <div class="wrapper h-100">
    <div class="absolute bottom-0 pb4 pr4 pb6-ns w-60-l">
      {% markdown template_content/slide12-refugee.md %}
      <div class="lightbox-link">
          <a class="no-underline pointer underline-hover" href="https://www.cigionline.org/innovation-series?source=ar2017"><i class="fa fa-play" aria-hidden="true"></i>Watch Lloyd Axworthy introduce the World Refugee Council.
            
          </a>
      </div>
    </div>
  </div>
</section>
