<section class="vh-100-ns default-background relative overflow-hidden timeline-slide">
  <div class="h-100 flex flex-column relative" id="timeline-slide-content">
    <main class="wrapper w-100 mt6-ns mt4 flex justify-between" aria-label="CIGI">
      {% markdown template_content/timeline.md %}
      <div id="user-hint-1" class="user-select-none f7">
        <div id="user-hint-hover" class="ttu tracked grey-color tl mb3 fade-in-1 o-0">
          <div class="arrow v-mid cover dib"
               style="background:url('{{ "/data/icons/hover.svg" | relative_url }}') no-repeat"></div>
          Hover over a point for more info
        </div>
        <div id="user-hint-click" class="dn ttu tracked grey-color tl mb3 fade-in-1 o-0">
          <div class="arrow v-mid cover dib"
               style="background:url('{{ "/data/icons/single-click.svg" | relative_url }}') no-repeat"></div>
          Click on the point to view the article
        </div>
        <div id="user-hint-zoom-in" class="ttu tracked grey-color tl fade-in-2 o-0">
          <div class="arrow v-mid cover dib"
               style="background:url('{{ "/data/icons/double-click.svg" | relative_url }}') no-repeat"></div>
          Double click timeline to zoom in
        </div>
      </div>
      <div id="user-hint-2" class="user-select-none f7 dn">
        <div id="user-hint-grab" class="ttu tracked grey-color tl mb3 o-0">
          <div class="arrow v-mid cover dib"
               style="background:url('{{ "/data/icons/grab.svg" | relative_url }}') no-repeat"></div>
          Grab & drag to move timeline
        </div>
        <div id="user-hint-zoom-out" class="ttu tracked grey-color tl o-0">
          <div class="arrow v-mid cover dib"
               style="background:url('{{ "/data/icons/double-click.svg" | relative_url }}') no-repeat"></div>
          Double click timeline to zoom out
        </div>
      </div>
    </main>
    <noscript class="wrapper">
      <h2 class="mt6">JavaScript Not Enabled</h2>
      <p>
        For the best experience in viewing the Annual Report, you must have JavaScript enabled.
        <br>
        Alternatively, the PDF version can be downloaded below:
      </p>
      <a href="#" class="no-underline inline-flex items-center br-pill bg-accent-color pv2 ph3 mt3 white dib pointer underline-hover">Download PDF Version</a>
    </noscript>
    <div class="w-80 m-auto flex flex-auto" aria-label="Timeline">
      <div class="relative w-100 self-center" id="timeline-root"></div>
    </div>
  </div>

  <div class="wrapper dn-ns w-90 mobile-timeline">
    <p>Explore CIGI cannot be displayed on your mobile device. For the best experience, please view on a desktop browser.</p>
    <hr>
    <p class="tc"><a href="www.cigionline.org/ar">View 2017 Annual Report</a></p>
  </div>
</section>
