<div class="toc-mobile-wrapper hidden">
    <ul>
        <li><a href="/#/?slide=0" class="toc-mobile-item toc-slide-0">Message about desktop</a></li>
        <li><a href="/#/?slide=1" class="toc-mobile-item toc-slide-1">CIGI 2017</a></li>
        <li><a href="/#/?slide=2" class="toc-mobile-item toc-slide-2">Influential Research. Trusted Analysis</a></li>
        <li><a href="/#/?slide=3" class="toc-mobile-item toc-slide-3 president">President’s Message</a></li>
        <li><a href="/#/?slide=3" class="toc-mobile-item toc-slide-3 chair">Chair's Message</a></li>
        <li><a href="/#/?slide=4" class="toc-mobile-item toc-slide-4">New Thinking on Innovation</a></li>
        <li><a href="/#/?slide=5" class="toc-mobile-item toc-slide-5">Modernizing NAFTA</a></li>
        <li><a href="/#/?slide=6" class="toc-mobile-item toc-slide-6">Surveillance, Treachery and Trust Online</a></li>
        <li><a href="/#/?slide=7" class="toc-mobile-item toc-slide-7">Lessons from the Euro-zone Crisis</a></li>
        <li><a href="/#/?slide=8" class="toc-mobile-item toc-slide-8">A new legal framework for Indigenous rights</a></li>
        <li><a href="/#/?slide=9" class="toc-mobile-item toc-slide-9">Arctic Policy Issues “North of 60”</a></li>
        <li><a href="/#/?slide=10" class="toc-mobile-item toc-slide-10">Solutions for a Low-carbon Economy</a></li>
        <li><a href="/#/?slide=11" class="toc-mobile-item toc-slide-11">Climate Change and the Economics of Energy</a></li>
        <li><a href="/#/?slide=12" class="toc-mobile-item toc-slide-12">Transforming the Global Refugee System</a></li>
        <li><a href="/#/?slide=13" class="toc-mobile-item toc-slide-13">Intellectual Property Experts on the Knowledge Economy</a></li>
        <li><a href="/#/?slide=14" class="toc-mobile-item toc-slide-14">Blockchain: A Technology with Policy Implications</a></li> 
        <li><a href="/#/?slide=15" class="toc-mobile-item toc-slide-15">IMF Meetings: Focal Point for the Global Economy</a></li>
        <li><a href="/#/?slide=16" class="toc-mobile-item toc-slide-16">CIGI at the T20 and G20 Summits</a></li> 
        <li><a href="/#/?slide=17" class="toc-mobile-item toc-slide-17">Summary Financial Statements</a></li>
        <li><a href="/#/?slide=18" class="toc-mobile-item toc-slide-18">Photo Gallery</a></li>
    </ul>
</div>