.gallery-slide .overlay{
  max-width: 67rem;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
   
  .image-container {
    position: relative;
    cursor: pointer;
    flex-basis: 20%;
    width: 210px;
    height: 140px;
    overflow: hidden;
    border: solid 0.1rem transparent;
   
    @include media-query($on-laptop){
      height: 100px;
    }
    @include media-query($small-phone) {
      flex-basis: 33%;
    }
    @media(max-height: $on-laptop) {
      height: 100px;
    }

    .caption {
      display: none;
      position: absolute;
      bottom: 0;
      background: rgba(255,255,255,0.8);
      font-size: 0.85rem;
      padding: 0.3rem;
      line-height: 1rem;
    }
    .image-wrapper {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: scale(1, 1);
      transition: transform 200ms;
    }

    .view{
      display: none;
    }

    &:hover{
      .caption{
        display: block;
        @include media-query($small-phone) {
          display: none;
        }
      }
      .image-wrapper{
        transform: scale(1.1, 1.1);
      }
    }
  }

}

.lightbox {
  background-color: rgba(255, 255, 255, 0.85);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 500ms ease-in;
  width: 100vw;
  z-index: 101;

  &.enabled {
    opacity: 1;
    pointer-events: unset;
  }

  .caption{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.2rem 0.7rem;
    border-top: solid 1px rgba(255, 255, 255, 0.85);
  }
  .photo{
    display: block;
  }
}

.media-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s ease;
  width: calc(60% - 2rem);
  @media (max-width: $on-laptop){
    width: calc(80% - 2rem);
  }
  .responsive-media{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}


.close-button {
  align-items: center;
  background: black;
  box-shadow: 0 0 0.5rem rgba(255,255,255,0.9);
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 1.5rem;
}

%gallery-button {
  background: black;
  box-shadow: 0 0 0.5rem rgba(255,255,255,0.9);
  border-radius: 50%;
  color: #fff;
  height: 2.25rem;
  position: absolute;
  top: 45%;
  width: 2.25rem;
  @media(max-width: $small-phone){
    top: 45%;
  }
}

.gallery-left {
  @extend %gallery-button;
  left: 0;
  transform: translate(-50%, -50%);
  .fa{
    padding-left: 35%;
  }

}

.gallery-right {
  @extend %gallery-button;
  right: 0;
  transform: translate(50%, -50%);
  .fa{
    padding-left: 45%;
  }

}

.spinner {
  animation: rotate 1s linear infinite;
  left: 50%;
  position: absolute;
  top: 50%;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
