%navigation-transition {
  transition: all 200ms ease-out;
}

header{
  a{
    color: black;
  }
}

.sidebar {
  @extend %navigation-transition;
  right: $spacing-unit;
  top: 50%;
  transform: translateY(-50%);
}

$sidebar-button-radius: 1rem;
.sidebar-button {
  @extend %navigation-transition;

  background-clip: content-box;
  border: 1px solid $accent-color;
  border-radius: 100%;
  cursor: pointer;
  height: $sidebar-button-radius;
  margin: 0.5rem 0;
  padding: 0.1rem;
  position: relative;
  width: $sidebar-button-radius;

  &.active {
    background-color: $accent-color;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    background-color: $accent-color-50;

    .sidebar-tooltip {
      opacity: 1;
      transform: scale(1) translateY(-50%);
    }
  }
}

.sidebar-home {
  @extend %navigation-transition;

  color: $accent-color;
  cursor: pointer;
  height: $sidebar-button-radius;
  margin: 0.5rem 0;
  padding-left: 1px;
  position: relative;
  width: $sidebar-button-radius;
  &.fa-home{
    font-family: fontAwesome;
    .sidebar-tooltip{
      font-family: $base-font-family;
    }
  }

  &.active {
    color: $accent-color;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    color: $accent-color-50;

    .sidebar-tooltip {
      opacity: 1;
      transform: scale(1) translateY(-50%);
    }
  }
}


.sidebar.white{
  .sidebar-button, .sidebar-home{
    color: white;
  }
  .sidebar-button{
    border: solid 1px white;
    &:hover{
      background: white;
      background-clip: content-box
    }
  }
}

$tooltip-background: rgba(60, 60, 60, 0.9);

.sidebar-tooltip {
  background: $tooltip-background;
  color: #fff;
  opacity: 0;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: scale(0) translateY(-50%);
  transform-origin: top right;
  transition: all 200ms ease;
  white-space: nowrap;

  &::after {
    border: solid transparent;
    border-left-color: $tooltip-background;
    border-width: 0.5rem;
    content: ' ';
    height: 0;
    left: 100%;
    margin-top: -0.5rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
  }
}

%navigation-button {
  @extend %navigation-transition;

  @extend %reverse-dim;

  align-items: center;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 0.5rem $grey-25;
  color: $accent-color;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 2rem;
  z-index: 7;
}

.navigation-top-button {
  @extend %navigation-button;

  top: $spacing-unit;
}

.navigation-bottom-button {
  @extend %navigation-button;

  bottom: $spacing-unit;
}

.partial-underline-right::after {
  border-bottom: 1px solid $accent-color;
  content: '';
  display: block;
  left: calc(100% - 2rem);
  padding-top: 0.5rem;
  position: relative;
  width: 2rem;
}

.cigi-logo-desktop {
  width: 10rem;
}
.toc-flex-item {
  flex: 1 1 auto;
}