//Background Images

.landing{
  background-image: url('../assets/CIGI_Campus-bw-min.jpg');
  filter: saturate(1.2);
}

.cover-slide{
  background-image: url('../assets/cigi-campus-min.jpg');
}

.slide-3{
  background-image: url('../assets/AR_InnovationSeries_mobile.jpg');
}

.slide-4 {
  background-image: url('../assets/nafta.jpg');
}

.slide-5{
  background-image: url('../assets/LWW_background-image.jpg');
}

.slide-6{
  background-image: url('../assets/laid_low_bg.jpg');
}

.slide-7 {
  background-image: url('../assets/UNDRIP-min.jpg');
}

.slide-8 {
  background-image: url('../assets/north-of-60-2.jpg');
}

.slide-9{
  background-image: url('../assets/low-carbon-economy-min.jpg');
}

.slide-10{
  background-image: url('../assets/Slide-Still-Windmill.png');
}

.slide-11{
  background-image: url('../assets/Slide-Still-WRC.png');
}

.slide-12{
  background-image: url('../assets/Slide-Still-Innovation_Knowledge.png');
}

.slide-13{
  background-image: url('../assets/Slide-Still-Blockchain.png');
}

.slide-14 {
  background-image: url('../assets/IMF-min.jpg');
}

.slide-15 {
  background-image: url('../assets/G20-min.jpg');
}

.slide-17 {
  background-image: url('../assets/CIGI_Family_Photo_v2.jpg');
}

.fullscreen-bg-video {
  background-position: center center;
  background-size: cover;
  height: auto;
  left: 50%;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: auto;
  z-index: -1;
}

.tabs {
  margin-bottom: 1rem;
  color: $accent-color;
  overflow: auto;
  .tab, .download a{
    border: solid 1px $accent-color;
    border-left: none;
    cursor: pointer;
    float: left;
    padding: 0 0.5rem;
    font-size: 0.875rem;
    &:first-child{
      border-left: solid 1px $accent-color;
    }
  }

  .tab.selected {
    color: $grey-color;
    border: solid 1px $grey-color;
    border-left: none;
    border-right: solid 1px $accent-color;
    cursor: default;
  }
  .tab:last-child.selected, .tab[data-id='tab-3'].selected{
    border-right: solid 1px $grey-color;
  }
  .tab:first-child.selected{
    border-left: solid 1px $grey-color;
  }

  .download a{
    display: block;
    color: white;
    margin-left: 0.625rem;
    background: $accent-color;

    @include media-query($on-laptop){
      margin-left: 0;
    }
  }
  .tab, .download a{
    &:hover{
      background: $accent-color-50;
      color: white;
    }
    &.selected:hover{
      background: transparent;
      color: $grey-color;

    }
  }
}

header .tabs{
  margin-top: 0.25rem;
  .tab{
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}

.tab-content {
  .tab {
    display: none;

    &.selected {
      display: block;
    }
  }
}

.dropcap {
  border: 1px solid;
  float: left;
  font-size: 2.75em;
  font-weight: 500;
  line-height: 0.75em;
  margin-right: 8px;
  padding: 0.1em 0.25em;
}

.photo-caption{
  color: $grey-color-dark;
  display: inline-block;
  margin-left: -0.3em;
  margin-top: 1em;
  transition: color .5s ease-in, background-color .5s ease-in;
  border-radius: 9999px;
  p {
    padding: 0;
    &:before{
      border-radius: 50%;
      border: 1px solid;
      color: $accent-color;
      content: "\f030";
      font-family: FontAwesome;
      font-size: 0.8em;
      margin-right: 0.5em;
      padding: 0.3em;
      transition: color .5s ease-in;
    }
  }
  &:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 9999px;
    color: $grey-color;
    transition: color .5s ease-out, background-color .5s ease-out;
    p:before {
      color: $grey-color;
      transition: color .5s ease-out;
    }
  }
}

.no-opacity{
  opacity: 0;
}

p {
  padding-bottom: 1rem;
}

//Cover Slide

.landing,
.cover-slide,
.standard-slide {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  &.slide-17{
    background-position: right;
  }

  .wrapper{
    position: relative;
  }
}

.cover-slide,
.standard-slide{
  h1 {
    padding: 0.5rem 0;
    font-weight: 400;
  }

  h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }

  a{
    color: $accent-color;
    text-decoration: none;

    &:hover{
      color: $accent-color-50;
    }
  }

  .lightbox-link{
    color: $accent-color;
  }

  .fa{
    margin-right: 0.5rem;
  }

  .fa-play{
    border: solid 1px $accent-color;
    padding: 0.125rem;
    padding-left: 0.2rem;
    font-size: 0.55rem;
  }

  .book-cover{
    float: left;
    margin-right: 2rem;
    @include media-query($on-laptop){
      display: none;
    }
  }
}

.joint-message, .financials {
  padding-top: 6rem;
  h1, h3{
    display: none;
  }
  .tabs{
    .tab.selected{
      background: $grey-color;
      color: white;
    }
  }

  @include media-query($small-screen){
    //padding-top: 6rem;
    .sig-image{
      display: none;
    }
  }
  @include media-query($small-phone){
    padding-top: 3rem;
  }
}

.cover-slide {
  p{
    font-size: 1.1rem;
  }
  h1 {
    color: $accent-color;
    font-size: 2.75rem;
    margin-bottom: 2rem;
  }
  @include media-query($on-laptop) {
    .wrapper > div{
      width: 100%;
    }
  }
}

.landing::before,
.cover-slide::before,
.standard-slide::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.55));
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity .5s ease-out;
}

.hide::before {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.hide-text {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.landing::before{
  background: rgba(215,3,24,0.68);
}

// Landing Page

header.white{
  a, .fa{
    color: white;
  }
  img{
    filter: invert(100%) brightness(20);
  }
}

.landing{
  .wrapper{
    position: relative;
  }
  color: white;

  .content-wrapper{
    box-sizing: content-box;
    width: 80%;
  }

  h1{display: none;}

  .title, .intro{
    float: left;
    width: 50%;
    padding-top: 2rem;
  }
  .title{
    font-size: 9rem;
    line-height: 7rem;
    font-weight: 800;
  }

  .nav{
    margin: 2rem;
    left: 47%;
    position: absolute;

    > div{
      float: left;
    }

    .link {
      float: left;
      border-top: solid 1px white;
      padding-top: 0.3rem;
      text-transform: uppercase;
      font-weight: 500;

      &:hover{
        color: $grey-color;
      }
    }
    .explore, .view-ar{
      position: relative;
    }
    .explore .link{
      border-right: solid 1px white;
    }
    .up, .down{
      position: absolute;
    }
    .up{
      left: -2rem;
    }
    .down{
      right: -1rem;
    }

    .fa{
      display: block;
      font-size: 1.75rem;
      line-height: 1rem;
      margin-top: 5px;
    }

    .arrows{
      position: relative;
      height: 25px;
    }
    .arrow{
      opacity: 1;
      top: 0;
      position: absolute;
      transform-origin: 0%;
      color: white;
    }

    .down{
      .arrow-1{
        animation: arrow-down 2.5s ease-in-out infinite;
      }
      .arrow-2{
        animation: arrow-down 2.5s 1.25s ease-in-out infinite;
      }
    }

    .up{
      .arrow-1{
        animation: arrow-up 2.5s ease-in-out infinite;
      }
      .arrow-2{
        animation: arrow-up 2.5s 1.25s ease-in-out infinite;
      }
    }

    @keyframes arrow-up {
      0%   {
        opacity: 0;
      }
      30%{
        opacity: 1;
      }
      50% {
        top: -45%;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes arrow-down {
      0%   {
        opacity: 0;
      }
      30%{
        opacity: 1;
      }
      50% {
        top: 45%;
      }
      100% {
        opacity: 0;
      }
    }
  }

  @include media-query($on-laptop) {
    .content{
      margin: 0 2rem;
    }

    .intro, .title{
      float: none;
      width: 100%;

    }
    .nav{
      position: relative;
      left: auto;
    }

    .content-wrapper{
      padding-top: 3rem;
      width: 100%;
    }
  }
}

//Financials Slide
.financials{
  h1{
    margin-bottom: 1rem;
  }
  .small{
    font-size: 0.75rem;
    text-align: right;
  }
  table{
    width: 47.5%;
    float: left;
    font-size: 0.875rem;
    border-bottom: double rgb(156,156,156);
    @include media-query($small-screen){
      font-size: 0.6rem;
    }
    @include media-query($small-phone){
      float: none;
      width: 100%;
    }

    &.table1{
      margin-right: 5%;
    }
    td:nth-child(1){
      width: 70%;
    }
    td:nth-child(2){
      width: 30%;
    }

    thead{
      .title{
        td{
          background: rgb(204,203,200);
          padding: 0 0.5rem;
        }
        font-weight: 500;
      }
      td{
        text-align: center;
        &:nth-child(1){
          border-right: solid 0.5rem $default-background-color;
        }

      }
    }
    tbody{
      border-top: solid 1rem transparent;
      line-height: 100%;
      td{
        &:nth-child(1){
          text-align: left;
          padding-left: 1rem;
        }
        &:nth-child(2){
          text-align: right;
          padding-right: 1rem;
        }
      }
      .section{
        td:nth-child(1){
          font-weight: 500;
          padding-left: 0;
        }
      }
      .total{
        td:nth-child(2){
          font-weight: 500;
        }
      }
      .double{
        border-bottom: double rgb(156,156,156);
      }
      .single{
        border-bottom: solid 1px rgb(156,156,156);
        border-top: solid 1px rgb(156,156,156);
      }
      .top{
        border-top: solid 1px rgb(156,156,156);
      }
    }
  }
}


