//Background Images

.cover-slide{
  background-image: url('../assets/cigi-campus-min.jpg');
}

.slide-5 {
   
 }

 .slide-6{}

 .slide-7{}

 .slide-8 {
   background-image: url('../assets/UNDRIP-min.jpg');
 }

 .slide-9 {
   background-image: url('../assets/north-of-60-min.jpg');
 }

 .slide-10{}

 .slide-11{}

 .slide-12 {
   background-image: url('../assets/wrc-min.jpg');
 }

 .slide-13{}

 .slide-14 {
   background-image: url('../assets/blockchain-min.jpg');
 }

 .slide-15 {
   background-image: url('../assets/IMF-min.jpg');
 }

 .slide-16 {
   background-image: url('../assets/G20-min.jpg');
 }
 

.fullscreen-bg {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
}

.fullscreen-bg-video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.tabs {
  margin-right: auto;

  .tab {
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    float: left;
    padding: 0 0.5rem;
  }

  .tab.selected {
    border: solid 1px $accent-color;
  }
}

.tab-content {
  .tab {
    display: none;

    &.selected {
      display: block;
    }

    h1 {
      flex: 100%;
    }
  }
}

.col {
  column-count: 2;
  column-width: 450px;
}

//Cover Slide

.cover-slide,
.standard-slide {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .wrapper{
    position: relative;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.35rem;
    padding: 0.5rem 0;
    font-weight: 400;
  }

  h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }

  p {
    padding-bottom: 1rem;
  }
  a{
    color: $accent-color;
    text-decoration: none;
    &:hover{
      color: $accent-color-50;
    }
  }

  .fa{
    margin-right: 0.5rem;
  }
  .fa-play{
    border: solid 1px $accent-color;
    padding: 0.125rem;
    padding-left: 0.2rem;
    font-size: 0.55rem;
  }
}

.joint-message {
  h3 {
    display: none;
  }
}

.cover-slide {

  h1 {
    text-align: center;
    color: $accent-color;
  }

  hr {
    align-self: center;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 0;
    padding-bottom: 1.5rem;
    width: 50%;
  }

}

.cover-slide::before,
.standard-slide::before {
  //background: linear-gradient(rgba(242, 240, 234, 0.15), rgba(242, 240, 234, 0.875));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.55));
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}
