//Background Images

.cover-slide{
  background-image: url('../assets/cigi-campus-min.jpg');
}

.slide-5 {
   
 }

 .slide-6{}

 .slide-7{}

 .slide-8 {
   background-image: url('../assets/UNDRIP-min.jpg');
 }

 .slide-9 {
   background-image: url('../assets/north-of-60-min.jpg');
 }

 .slide-10{}

 .slide-11{}

 .slide-12 {
   background-image: url('../assets/wrc-min.jpg');
 }

 .slide-13{}

 .slide-14 {
   background-image: url('../assets/blockchain-min.jpg');
 }

 .slide-15 {
   background-image: url('../assets/IMF-min.jpg');
 }

 .slide-16 {
   background-image: url('../assets/G20-min.jpg');
 }
 

.fullscreen-bg {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
}

.fullscreen-bg-video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.tabs {
  .tab {
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    float: left;
    padding: 0 0.5rem;
    font-size: 0.875rem;
  }
  .tab:nth-child(1){
    border-right: none;
  }

  .tab.selected {
    border: solid 1px $accent-color;

  }
}

header .tabs{
  margin-top: 0.25rem;
  .tab{
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}

.tab-content {
  .tab {
    display: none;

    &.selected {
      display: block;
    }

    h1 {
      flex: 100%;
    }
  }
}

//Cover Slide

.cover-slide,
.standard-slide {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .wrapper{
    position: relative;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.35rem;
    padding: 0.5rem 0;
    font-weight: 400;
  }

  h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }

  p {
    padding-bottom: 1rem;
  }
  a{
    color: $accent-color;
    text-decoration: none;
    &:hover{
      color: $accent-color-50;
    }
  }

  .fa{
    margin-right: 0.5rem;
  }
  .fa-play{
    border: solid 1px $accent-color;
    padding: 0.125rem;
    padding-left: 0.2rem;
    font-size: 0.55rem;
  }
}

.joint-message {
  h3 {
    display: none;
  }
  .col {
    column-count: 2;
    column-width: 450px;
  }
}

.cover-slide {

  h1 {
    text-align: center;
    color: $accent-color;
  }

  hr {
    align-self: center;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 0;
    padding-bottom: 1.5rem;
    width: 50%;
  }

}

.cover-slide::before,
.standard-slide::before {
  //background: linear-gradient(rgba(242, 240, 234, 0.15), rgba(242, 240, 234, 0.875));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.55));
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

//landing page
.landing{
  .wrapper{
    position: relative;
  }

  .circle{
    position: absolute;
    top: 25%;
    left: 13%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: solid 1px rgb(210,211,205);

  }
  .arc {
    position: absolute;
    top: 23%;
    left: 11%;
    width: 540px;
    height: 540px;
    border: dashed 1px transparent;
    border-left-color: rgb(120,120,118);
    border-radius: 50%;
    transform: rotate(-55deg);
  }
  .content-wrapper{
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
  }
  .content{
    column-count: 2;
    column-width: 300px;
  }
  
  h1{display: none;}
  .title{
    margin-left: 4rem;
    font-size: 9rem;
    line-height: 73%;
    font-weight: 800;
    color: rgba(120,120,118, 0.85);
    span{
      margin-left: -2rem;
    }
  }

  .nav{
    margin: 2rem 0;
    > div{
      float: left;
      .fa{
        display: block;
        font-size: 1.75rem;
        line-height: 1rem;
        margin-top: -7px;
        color: $accent-color;
      }
    }

    .up{
      margin-right: 10px;
      margin-top: -3px;
    }
    .down{
      margin-left: 10px;
      margin-top: 13px;
    }
    .arrow-1{
      opacity: 1;
      transition: opacity 0.25s ease-in;
    }
    .arrow-2{
      opacity: 0;
      transition: opacity 0.5s ease-in;
    }
    .arrow-3{
      opacity: 0;
      transition: opacity 1s ease-in;
    }

    .up, .down{
      &:hover{
        .arrow-1{
          opacity: 0.35;
          
        }
        .arrow-2{
          opacity: 0.65;
        }
        .arrow-3{
          opacity: 1;
        }
      }
    }

    a{
      display: block;
      border-top: solid 1px $grey-color;
      padding-top: 0.3rem;
      text-transform: uppercase;
      color: $accent-color;
      font-weight: 500;
      &:hover{
        color: $grey-color;
      }
    }
    .explore a{
      border-right: solid 1px $grey-color;
      padding-right: 1rem;
    }
    .view-ar a{
      padding-left: 1rem;
    }
  }
  @include media-query($on-laptop) {
    .arc {
      left: 8%;
    }
    .content-wrapper{
      width: 100%;
    }
    .title{
      margin-left: 2rem;
      margin-bottom: 1rem;
    }
    
  }
}


