---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="smooth-slide-container">
      {% include timeline.html %}
      {% include home.html %}
      {% include slide2.html %}
      {% include slide3.html %}
      {% include slide4.html %}
      {% include slide5.html %}
      {% include slide6.html %}
      {% include slide7.html %}
      {% include slide8.html %}
      {% include slide9.html %}
      {% include video.html %}
      {% include gallery.html %}

      <script src="{{ site.assets_base_url }}/assets/bundle{{ site.env.HASH }}.js"></script>
    </div>
  </body>

</html>
